name: "Terraform"

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        id: init
        run: terraform init -backend-config="./environment/dev/backend.tfvars" -no-color

      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Terraform Plan
        id: plan
        run: terraform plan -var-file="environment\dev\terraform.tfvars" -no-color
        continue-on-error: true

      - name: Terraform Plan Status
        run: |
          if [[ -z "${{ steps.plan.outputs.stdout }}" ]]; then
            echo "Terraform plan failed without output. This typically means a failure during initialization."
            exit 1
          elif echo "${{ steps.plan.outputs.stdout }}" | grep -q "No changes. Infrastructure is up-to-date."; then
            echo "No changes to infrastructure detected."
            exit 0
          else
            echo "Changes to infrastructure detected."
            exit 1
          fi
